<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/style.css">
    <title>Document</title>

</head>

<body>
    <h1>Samuel est très <b style="background-color: red;">intelligent</b></h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad nobis quod quibusdam iusto doloribus placeat
        voluptatum suscipit dignissimos totam hic optio consectetur deleniti soluta, nostrum quasi corrupti illo
        temporibus nihil rem ipsam exercitationem facilis eum incidunt sint. Iure voluptatibus dolore mollitia culpa?
        Minus aspernatur unde dignissimos esse et beatae maxime aliquid, quisquam quaerat maiores pariatur consequatur
        dolore delectus dicta, magni earum suscipit laboriosam, natus nobis numquam sunt eligendi? Veniam unde
        reiciendis illum quasi facilis. Ab quos voluptatem, mollitia corporis optio odio, repellendus consectetur maxime
        magni obcaecati ex vel quaerat neque, dignissimos magnam totam rerum tenetur asperiores? Ut numquam praesentium
        accusantium repudiandae soluta veritatis. Dolorum rerum consectetur nisi quasi alias quo, modi molestias
        consequuntur tenetur beatae commodi dolores odit pariatur eaque doloremque obcaecati? Rerum aut inventore
        blanditiis porro corrupti harum animi voluptas facere illum suscipit quibusdam quasi saepe repellendus illo
        mollitia nemo, veritatis obcaecati reiciendis quas, iste delectus ad? Delectus ratione quidem sunt perspiciatis
        nihil, assumenda sapiente? Deleniti minus fuga non magnam at nesciunt velit repellat inventore architecto
        doloribus maxime adipisci, commodi tempore natus officiis facilis aliquam provident culpa labore doloremque. Cum
        pariatur rerum nihil, eveniet blanditiis fugit ratione libero dolor suscipit itaque sapiente temporibus ab
        accusamus cupiditate nemo ex quis deserunt! Nostrum, fuga? Perspiciatis eum similique fuga nulla doloremque ea
        maiores obcaecati voluptatem, repudiandae porro natus ipsam alias sequi eos laboriosam hic fugit consequatur
        autem ipsum eaque quod quis minima vero fugiat. Aspernatur in voluptatibus tenetur neque commodi? Et quidem, est
        quod quam nihil culpa saepe, obcaecati dolor modi pariatur suscipit. Numquam placeat earum unde exercitationem,
        doloremque dignissimos pariatur quasi veritatis incidunt tempora, eaque repudiandae sunt voluptatibus velit
        consectetur nihil suscipit modi, vitae inventore accusamus? Quam dolor ducimus, quaerat tempora quas quisquam
        aperiam illo quia iusto exercitationem delectus natus accusantium modi ullam dolore blanditiis voluptates
        inventore nemo saepe corrupti fugiat veritatis assumenda? Quisquam, adipisci! Reiciendis hic, voluptatum
        asperiores soluta dolorum iusto inventore possimus blanditiis iure a et beatae optio, perferendis modi!
        Doloremque saepe distinctio facilis, enim eius autem minus quos rerum molestiae nulla labore dolorem optio
        provident voluptates soluta, numquam reprehenderit est similique. Enim, asperiores voluptatum. Quas ipsa
        corporis nisi expedita eaque in vero obcaecati molestiae earum delectus facere illo laborum fugiat praesentium
        fuga nihil autem exercitationem iste, distinctio voluptas amet at cumque? Provident rem beatae autem eligendi
        velit magnam sunt voluptatum corrupti veritatis vel numquam, fuga quia voluptatem dolore quae minus libero
        ratione corporis officiis accusamus quibusdam hic maxime eum recusandae? Voluptate neque molestias porro illum
        vitae, eum asperiores fuga. Consequuntur maxime natus explicabo, maiores dolorum aspernatur at harum molestiae
        necessitatibus rerum suscipit aliquam cupiditate voluptatem est ex quae error fuga alias! Corrupti sapiente
        voluptas, maxime earum optio nobis. Saepe eaque temporibus totam quia vitae fugit itaque dolorum, obcaecati
        fugiat natus praesentium cumque similique ea dignissimos cupiditate ad enim quis odit iusto ipsum ducimus.
        Voluptatibus non praesentium iste vero adipisci! Voluptates fugiat mollitia et laboriosam ipsum exercitationem
        sint alias. Aliquid qui vero, nemo accusantium rerum deserunt maxime omnis pariatur dolores ad modi, id alias
        fugit. Facilis pariatur sit blanditiis.</p>

</body>

</html>