<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../public/images/c837a6_cb67083acdda47f0946a1e7da5fb20d7f000.png" type="image/x-icon">
    <link rel="stylesheet" href="../public/style.css">
    <title>Document</title>
</head>

<body>

    <div class="cart">
        <img src="../public/images/c837a6_cb67083acdda47f0946a1e7da5fb20d7f000.png" alt="">
        <h4>
            <%= titre %>
        </h4>
        <p>Prix:<b>
                <%= film %>
            </b></p>
        <button>Voir plus</button>
        <a href="https://samnk.bubbleapps.io/version-test/register?debug_mode=true">Samuel</a>
        <p>Je suis dans les parages</p>
    </div>
</body>

</html>