body {
    background: rgb(76, 76, 230);

    padding: 30px 100px;

}

p {
    font-family: 'Courier New', Courier, monospace;
    word-wrap: break-word;
}

.cart {
    background-color: white;
    width: 300px;
    padding: 20px;
    border-radius: 7px;

    
}

.cart img {
    width: 100%;
    user-select: none;
    
}

.cart button {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 12px;
    background-color: rgb(237, 59, 59);
}